h3 {
	font-size: 1.2em;
}
img {
	vertical-align: middle;
}
a {
	display: inline-block;
	text-decoration: none;
}
a span {
	text-decoration: underline;
}
address {
	margin: -0.5em;
	font-style: normal;
}
address h2 {
	margin: 0.33em;
	margin-top: 2em;
}
address a {
	font-size: 1.2em;
	margin: 0.42em;
}
address img, address picture {
	vertical-align: baseline;
}