h3 {
	font-size: 1.2em;
}
img {
 vertical-align: bottom;
}
address {
	margin: -0.5rem;
	font-style: normal;
}
address h2 {
	margin: 0.5rem;
	margin-top: 2rem;
}
address a {
	font-size: 1.2em;
	display: inline-block;
	margin: 0.5rem;
}
address img, address picture {
	vertical-align: baseline;
}