* {
	box-sizing: border-box;
}
html {
	color-scheme: light dark;
	padding: 1em;
}
body {
	font-family: sans-serif;
	width: min-content;
	max-width: 100%;
	margin: auto;
}
header, main {
	width: max-content;
	max-width: 100%;
}
h1 {
	margin-top: 0;
}