* {
	box-sizing: border-box;
}
html {
	color-scheme: light dark;
	padding: 1em;
}
body {
	font-family: sans-serif;
	width: min-content; width: -webkit-min-content; width: -moz-min-content;
	max-width: 100%;
	margin: auto;
}
header, main {
	width: max-content; width: -webkit-max-content; width: -moz-max-content;
	max-width: 100%;
}
h1 {
	margin-top: 0;
}


@media (min-width: 18rem) and (max-width: 22rem) {
	html {
		font-size: 90%;
} }
@media (max-width: 18rem) {
	html {
		font-size: 80%;
} }